@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Lato;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
